/*--------------------------------------------------------------
# work
--------------------------------------------------------------*/
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /*margin: 20px; */
}
.content .card {
  width:240px;
  /*width: 400px;*/
  margin: 15px;
  border: 0;
  border-radius: 12px;
}
.content .card-img {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}
.content .card .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease;
}
.content .card .card-img img:hover {
  transform: scale(1.2);
}
